body    {
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

.main-header    {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin: auto;
}

.introduction-section p {
    font-size: 1.2em;
    text-align: center;
    font-weight: 300;
    padding-left: 8em;
    padding-right: 8em;
    line-height: 1.4;
}

.introduction-section  {
    padding-left: 2em;
    padding-right: 1.5em;
    padding-bottom: 2.5em;
   
}

h1  {
    font-size: 2.9rem;
    font-weight:lighter;
    color: rgb(197, 151, 81);
    border: 1px;
    background-color:whitesmoke;
    padding-bottom: 0.8em;
}

h2  {
    font-size: 1.6em;
}

.image  {
    width: 300px;
    height: auto;
}

.ingredients    {
    border-style: solid;;
    margin-left: 5.2em;
    margin-right: 5.2em;
    border-color: rgba(255, 192, 203, 0.339);
    border-radius: 2em;
    background-color: #f7ddcda3;
 
}

.ingredients ul {
    font-size: 1.1em;
    list-style: none;
    text-align: center;
    padding-left: 2.3em;
    padding-right: 2.3em;
    padding-bottom: 1.8em;
    line-height: 2em;
}

.steps  ol {
    list-style: none;
    text-align: center;
    padding-left: 2.6em;
    padding-right: 2.6em;
}

.steps h6   {
    font-size: 1.2em;
    text-align: left;
    line-height: 1.2em;
    margin-bottom: 1em;
    
}

.steps h2   {
    padding-top: 1.4em;
    padding-bottom: 1.5em;
}

.steps li   {
    font-weight: 200;
    text-align: left;
    padding-left: 8.4em;
    padding-right: 8.4em;
    line-height: 1.4;
    word-spacing: 0.06em;
}

/* Index below */

.index-body {
    display: block;
    height: 100vh;
}

.index-nav  {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 1em;
    width: 400px;
    margin-left: 1200px;
    margin-top: 200px;
    position: sticky;
    top: 50px;

}

.index-nav ul   {
    padding-inline-start: 0px;
}

.index-nav li   {
    Display: block;
    list-style: none;
    margin: 50px 1.5em;
    padding: 0;
}

.index-nav a    {
    display: inline-block;
    background-color: #f7ddcda3;
    padding: 1em;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    width: 200px;
}

.index-nav a:hover {
    color: white;
}

